* {
  margin: 0;
  vertical-align: baseline;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body { 
  font-size: 8pt; 
  line-height: 1;
  padding: 45px 0px;
  font-family: 'Oxygen', Arial, sans-serif;
}

a { color: #4773C5; text-decoration: none; }
a:hover { color: #72A5DE; }

header {
  position: fixed;
  background: #fff;
	top: 0;
	z-index: 500;
}

header .container {
  padding: 20px 0;
}

header #headerlinks {
  position: absolute;
	top: 40px;
  right: 50px;
}

header #headerlinks a {
  margin-left: 2em;
	font-size: 13px;
}

.line {
	margin-left: -50px;
	width: 1000px;
	height: 1px;
	background-color: black;
  background: linear-gradient(to right, rgba(255,255,255,.5) 0%, rgba(204,204,204,1) 5%, rgba(204,204,204,1) 95%, rgba(255,255,255,.5) 100%);
}

#title {
  cursor: default;
  font-size: 35px;
	width: 205px;
	margin-left: -2px;
}

.cyan {
  color: #e43c18;
}

.grey {
  color: #b2b8c4;
}

/* title scrolling colour */
#title .char1 {
  transition: color 0.1s;
}

#title .char2 {
  transition: color 0.1s 0.05s;
}

#title .char3 {
  transition: color 0.1s 0.1s;
}

#title .char4 {
  transition: color 0.1s 0.15s;
}

#title .char5 {
  transition: color 0.1s 0.2s;
}

#title .char6 {
  transition: color 0.1s 0.25s;
}

#title .char7 {
  transition: color 0.1s 0.3s;
}

#title .char8 {
  transition: color 0.1s 0.35s;
}

#title .char9 {
  transition: color 0.1s 0.4s;
}

#title .char10 {
  transition: color 0.1s 0.45s;
}

#title .char11 {
  transition: color 0.1s 0.5s;
}

#title:hover .char1 {
  transition: color 0.1s;
  color: #e43c18;
}

#title:hover .char2 {
  transition: color 0.1s 0.05s;
  color: #e43c18;
}

#title:hover .char3 {
  transition: color 0.1s 0.1s;
  color: #e43c18;
}

#title:hover .char4 {
  transition: color 0.1s 0.15s;
  color: #e43c18;
}

#title:hover .char5 {
  transition: color 0.1s 0.2s;
  color: #e43c18;
}

#title:hover .char6 {
  transition: color 0.1s 0.25s;
  color: #e43c18;
}

#title:hover .char7 {
  transition: color 0.1s 0.3s;
  color: #e43c18;
}

#title:hover .char8 {
  transition: color 0.1s 0.35s;
  color: #e43c18;
}

#title:hover .char9 {
  transition: color 0.1s 0.4s;
  color: #e43c18;
}

#title:hover .char10 {
  transition: color 0.1s 0.45s;
  color: #e43c18;
}

#title:hover .char11 {
  transition: color 0.1s 0.5s;
  color: #e43c18;
}

h1 {
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 24pt;
  line-height: 37pt;
  color: #787878;
  margin-bottom: 10px;
}

h1 a {
  font-weight: normal;
  font-size: 12pt;
}

h2 {
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 1.6em;
  line-height: 1.6em;
  color: #787878;
  margin-bottom: 10px;
}

p {
  font-size: 10pt;
  line-height: 1.25em;
  color: #575757;
  font-weight: normal;
  margin-bottom: 10px;
}

.contentblock li {
  font-size: 7pt;
  line-height: 14pt;
  color: #575757;
  font-weight: normal;
  margin-bottom: 10px;
 	margin-left: -5px;
}

.contentblock li span {
  font-size: 10pt;
}

/* main page */
#w {
  display: block;
  width: 900px;
  margin: 0 auto;
  background: none;
}

#content {
  display: block;
  background: #fff;
  padding: 0px 15px;
  margin-left: 120px;
  min-height: 300px;
	border: 1px solid rgba(204,204,204,1);
}

#content {
  padding-top: 50px;
}

.contentblock {
  display: block;
  padding: 0px 20px 15px;
}

.contentblock.hidden {
  display: none;
}

.imgpreview {
  border-radius: 5px;
  border: 1px solid rgb(234,234,234);
  margin-bottom: 10px;
	width: 708px;
}

/* side navigation */
#sidemenu {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 120px;
  float: left;
	margin-top: 52px;
}

#sidemenu li {
  display: block;
  position: relative;
}

#sidemenu li a { 
  display: block;
  padding: 10px 2px;
	padding-left: 10px;
  color: #414143;
	font-size: 13px; 
  text-decoration: none;
	width: 120px;
}

#sidemenu .sidehead {
  display: block;
  padding: 10px 0px;
  color: #e43c18;
	font-size: 15px; 
  text-decoration: none;
	cursor: default;
}

#sidemenu li a:hover {
  width: 101%;
  background: #f2f2f2;
}

#sidemenu li a:hover:after {
  position: absolute;
	top: 0px;
	right: -1px;
	margin-right: -11px;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAhCAMAAAA4RaFEAAAAPFBMVEUAAADy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL61rZ8AAAAE3RSTlMAPXOXHOAP8SwH0IDEWlGt/WmN/qq/WAAAAFtJREFUGNNtzjkOgEAQA8FZ9j4R+P9/JRs7wFElltqOcbXQiGIEce40phhNPMR4xEjiW4wjroVGFCOIc6cxxUPc6IvfZXSi929bLXQw92vu3Olm7svcy+hEb/IDVmANe9llod0AAAAASUVORK5CYII=);
}

#sidemenu li a.open:after {
  position: absolute;
	top: 0px;
	right: -1px;
	margin-right: -11px;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAhCAMAAAA4RaFEAAAAOVBMVEUAAADkPBjkPBjkPBjkPBjkPBjkPBjkPBjkPBjkPBjkPBjkPBjkPBjkPBjkPBjkPBjkPBjkPBjkPBiR3eOGAAAAEnRSTlMAHPE9AeBwCyyT/dBagMRRsaj6OEWwAAAAW0lEQVQY003MuREAMRACQfSuVPeTf7DnLYzVDuCBqiFzm9nMI2ReZi7z0WVOM4v5NfMx15C5zWzmETIv82Fe8tT27nLR/4n0h3QNuSG9kR4hL6Qn0neXC7JT/AHcugzax4DP7gAAAABJRU5ErkJggg==);
}

#sidemenu li a strong { 
  display: block;
  margin-top: 5px;
}

#sidemenu li a.open {
  width: 101%;
	color: #fff;
  background: #e43c18;
}

.clearfix:after { 
  content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0; 
}

.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }