body {
	margin: 0;
  padding: 0;
  border: none;
  font-family: Lato, sans-serif;
	font-size: 16px;
}

html {
  color: #716e6e;
  height: 100%;
  background: #f6f7f9;
}

a {
  color: #254a78;  
	font-weight: 500;
}

a:hover {
	border-bottom: 1px dotted;
}

a {
	text-decoration: none;
}

header a {
  color: #254a78;
}

header a:hover {
	border-bottom: 1px dotted;
}

a {
  outline: 0;
}

.container #title {
  cursor: default;
  font-size: 30px;
	width: 173px;
}

.cyan {
  color: #254a78;
}

.grey {
  color: #b2b8c4;
}

/* title scrolling colour */
#title .char1 {
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}

#title .char2 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.05s;
  -moz-transition: color 0.1s 0.05s;
  -o-transition: color 0.1s 0.05s;
  transition: color 0.1s 0.05s;
}

#title .char3 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition: color 0.1s 0.1s;
  -o-transition: color 0.1s 0.1s;
  transition: color 0.1s 0.1s;
}

#title .char4 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.15s;
  -moz-transition: color 0.1s 0.15s;
  -o-transition: color 0.1s 0.15s;
  transition: color 0.1s 0.15s;
}

#title .char5 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.2s;
  -moz-transition: color 0.1s 0.2s;
  -o-transition: color 0.1s 0.2s;
  transition: color 0.1s 0.2s;
}

#title .char6 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.25s;
  -moz-transition: color 0.1s 0.25s;
  -o-transition: color 0.1s 0.25s;
  transition: color 0.1s 0.25s;
}

#title .char7 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.3s;
  -moz-transition: color 0.1s 0.3s;
  -o-transition: color 0.1s 0.3s;
  transition: color 0.1s 0.3s;
}

#title .char8 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.35s;
  -moz-transition: color 0.1s 0.35s;
  -o-transition: color 0.1s 0.35s;
  transition: color 0.1s 0.35s;
}

#title .char9 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.4s;
  -moz-transition: color 0.1s 0.4s;
  -o-transition: color 0.1s 0.4s;
  transition: color 0.1s 0.4s;
}

#title .char10 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.45s;
  -moz-transition: color 0.1s 0.45s;
  -o-transition: color 0.1s 0.45s;
  transition: color 0.1s 0.45s;
}

#title .char11 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.5s;
  -moz-transition: color 0.1s 0.5s;
  -o-transition: color 0.1s 0.5s;
  transition: color 0.1s 0.5s;
}

#title:hover .char1 {
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
  color: #37597a;
}


#title:hover .char2 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.05s;
  -moz-transition: color 0.1s 0.05s;
  -o-transition: color 0.1s 0.05s;
  transition: color 0.1s 0.05s;
  color: #37597a;
}

#title:hover .char3 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition: color 0.1s 0.1s;
  -o-transition: color 0.1s 0.1s;
  transition: color 0.1s 0.1s;
  color: #37597a;
}

#title:hover .char4 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.15s;
  -moz-transition: color 0.1s 0.15s;
  -o-transition: color 0.1s 0.15s;
  transition: color 0.1s 0.15s;
  color: #37597a;
}

#title:hover .char5 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.2s;
  -moz-transition: color 0.1s 0.2s;
  -o-transition: color 0.1s 0.2s;
  transition: color 0.1s 0.2s;
  color: #37597a;
}

#title:hover .char6 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.25s;
  -moz-transition: color 0.1s 0.25s;
  -o-transition: color 0.1s 0.25s;
  transition: color 0.1s 0.25s;
  color: #37597a;
}

#title:hover .char7 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.3s;
  -moz-transition: color 0.1s 0.3s;
  -o-transition: color 0.1s 0.3s;
  transition: color 0.1s 0.3s;
  color: #37597a;
}

#title:hover .char8 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.35s;
  -moz-transition: color 0.1s 0.35s;
  -o-transition: color 0.1s 0.35s;
  transition: color 0.1s 0.35s;
  color: #37597a;
}

#title:hover .char9 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.4s;
  -moz-transition: color 0.1s 0.4s;
  -o-transition: color 0.1s 0.4s;
  transition: color 0.1s 0.4s;
  color: #37597a;
}

#title:hover .char10 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.45s;
  -moz-transition: color 0.1s 0.45s;
  -o-transition: color 0.1s 0.45s;
  transition: color 0.1s 0.45s;
  color: #37597a;
}

#title:hover .char11 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.5s;
  -moz-transition: color 0.1s 0.5s;
  -o-transition: color 0.1s 0.5s;
  transition: color 0.1s 0.5s;
  color: #37597a;
}


.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  width: 60em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button::-moz-focus-inner {
  border:0;
}

button,
.button {
  display: inline-block;
  background: #ee6f60;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
  border-radius: 4px;
  border: 0;
  padding: 0.7em;
  margin-right: 0.5em;
  width: auto;
  text-decoration: none;
}

header {
  position: relative;
  box-shadow: 0 0px 2px #ccc;
  background: #fff;
}

header .container {
  padding: 20px 0;
}

header .button {
  margin-top: -10px;
}

header #headerlinks {
  position: absolute;
  right: 0;
  top: 21px;
  padding: 10px 0 8px 0;
}

header #headerlinks a {
  margin-left: 2em;
	font-size: 13px;
  text-decoration: none;
}

.gallery {
  background: #F1F1F3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 64px;
  padding: 3px;
	padding-right: 8px;
  height: 248px;
  overflow: hidden;
}

.gallery img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.gallery.right > #imgCon {
  float: right;
}

.gallery.right #textCon {
  float: left;
}

.gallery.right .links {
  float: right;
}

.gallery.right .desc {
  text-align: left;
}

#textCon {
  width: 49.9%;
}

.gallery > #imgCon {
  margin-top: 5px;
}

#textCon {
  padding: 23px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

#textCon h3 {
  text-align: left;
  color: #7d8ea3;
  margin-bottom: 16px;
	margin-top: -5px;
  font-size: 20px;
	font-weight: normal;
}

#textCon .desc {
  font-size: 14px;
  line-height: 20px;
  color: #596168;
	position: absolute;
	width: 50%;
}

.styleimg {
	line-height: 1.5;
}

.styleimg a {
  min-width: 10px;
	color: #254a78;
	font-size: 15px;
}

#userstyles {
	margin-top: 25px;
}

.right .links {
  text-align: right; 
}

.styleimg.active *,
.active	{
	color: #254a78;
}

.active a:hover {
	border-bottom: 1px dotted;
}

.active::before {
  position: absolute;
	margin-left: -15px;
  content: "\25B8";	
}



/**
    Image hover
*/

#imgCon {
	position: relative;
  display: inline-block;
}

#imgCon::before {
  display: inline-block;
  content: " ";
  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, .7);
	pointer-events: none;
	opacity: 0;
	border: 1px solid #dbdbdb;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#imgCon::after {
  content: "View Full Image";
  color: rgb(55, 89, 122);
  position: absolute;
	bottom: 2px;
	left: 5px;
	pointer-events: none;
	opacity: 0;
}

#imgCon:hover::before,
#imgCon:hover::after {
  opacity: 1;
}

#imgCon::before,
#imgCon::after {
	-webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
	
img {
  display: block;
		border: 1px solid #dbdbdb;
}
